.contacts {
  padding: vw(50) 0 vw(100) 0;

  @include m1024 {
    padding: vw(75) 0 vw(150) 0;
  }

  @include m500 {
    padding: vw(100) 0 vw(200) 0;
  }
}

.contacts__heading {
  margin-bottom: vw(50);
}

.contacts__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  align-content: flex-start;
  gap: vw(30);

  max-height: vw(200);

  @include m1024 {
    gap: vw(50);

    max-height: vw(300);
  }

  @include m500 {
    gap: vw(100);

    max-height: vw(500);
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  gap: vw(10);

  max-width: vw(460);
  box-sizing: content-box;
  padding-right: vw(40);

  @include m1024 {
    gap: vw(20);

    max-width: vw(700);
    padding-right: vw(70);
  }

  @include m500 {
    max-width: 50%;
    padding-right: vw(100);
  }
}

.contacts__link {
  font-weight: 500;
  font-size: vw(32);
  line-height: 120%;

  @include m1024 {
    font-size: vw(45);
  }

  @include m500 {
    font-size: vw(60);
  }
}

.contacts__desc {
  font-size: vw(28);
  line-height: 120%;

  @include m1024 {
    font-size: vw(40);
  }

  @include m500 {
    font-size: vw(50);
  }

  &_adress {
    font-weight: 500;
    font-size: vw(32);

    @include m1024 {
      font-size: vw(45);
    }

    @include m500 {
      font-size: vw(60);
    }
  }
}