.guarant {
  padding: vw(50) 0;

  @include m1024 {
    padding: vw(75) 0;
  }

  @include m500 {
    padding: vw(100) 0;
  }
}

.guarant__heading {
  margin-bottom: vw(50);
}

.guarant__list {
  display: flex;
  flex-direction: column;
  gap: vw(20);

  @include m1024 {
    gap: vw(40);
  }

  @include m500 {
    gap: vw(60);
  }
}

.guarant__item {
  position: relative;

  padding-left: vw(20);

  font-weight: 500;
  font-size: vw(34);
  line-height: 120%;

  @include m1024 {
    padding-left: vw(30);

    font-size: vw(45);
  }

  @include m500 {
    padding-left: vw(45);

    font-size: vw(80);
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: vw(10);
    height: vw(10);

    border-radius: 100%;
    background: #000;

    @include m1024 {
      width: vw(15);
      height: vw(15);
    }

    @include m500 {
      width: vw(22);
      height: vw(22);
    }
  }
}