.profit {
  padding: vw(50) 0;
}

.profit__heading {
  margin-bottom: vw(50);
}

.profit__list {
  display: flex;
  gap: vw(100);
}

.profit__item {
  display: flex;
  flex-direction: column;
  gap: vw(15);

  max-width: vw(450);
}

.profit__heading_item {
  font-weight: 500;
  font-size: vw(34);
  line-height: 120%;
}

.profit__desc_item {
  font-size: vw(28);
  line-height: 120%;
}