block footer_vars
  - var footer_logo = 'jcore';
  - var footer_list = [ { name: 'О нас', link: '#about' }, { name: 'Курс', link: '#course' }, { name: 'Контакты', link: '#contacts' }, ];


footer#footer.footer 
  .container.footer__container
    a.footer__logo(href="#") #{footer_logo}

    nav.footer__nav 
      ul.footer__list
        for item of footer_list 
          li.footer__item 
            a.footer__link(href=item.link) #{item.name} 