block guarantVars 
  - var guarant_heading = 'Гарантии:';
  - var guarant_list = [ 'Официальный договор об обучении.', 'Официально трудоустроенные преподаватели.', 'Действующее ИП.' ];


section#guarant.guarant 
  .container.guarant__container 
    h2.guarant__heading.heading #{guarant_heading}

    ul.guarant__list 
      for item of guarant_list 
        li.guarant__item #{item}
