block header_vars
  - var header_logo = 'jcore';
  - var header_list = [ { name: 'О нас', link: '#about' }, { name: 'Курс', link: '#course' }, { name: 'Контакты', link: '#contacts' }, ];


header#header.header 
  .container.header__container
    a.header__logo(href="#") #{header_logo}

    nav.header__nav 
      ul.header__list
        for item of header_list 
          li.header__item 
            a.header__link(href=item.link) #{item.name} 