block learnVars 
  - var learn_heading = 'Подробнее об обучении:';
  - var learn_list = [ 'Онлайн занятия лично с преподавателем в мессенджере «DISCORD» группами по 15 человек. Занятие будет длиться 2.5ч с 18.00 по Московскому времени.', 'Практические занятия с применением полученных знаний (Создание ботов и т.д.).', 'Обучение написанию грамотного кода с красивой архитектурой.', 'Интересная и продуктивная система домашних заданий.' ];


section#learn.learn 
  .container.learn__container 
    h2.learn__heading.heading #{learn_heading}
    ul.learn__list
      for item of learn_list
        li.learn__item #{item}