include ./mixins/mixins

block baseVars
  - var lang = 'ru';
  - var siteTitle = 'jcore';

doctype html
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{siteTitle}
    link(rel="stylesheet", href="css/main.min.css")
    link(rel="icon", type="image/png", href="resources/logo.png")
  body
    block content