extends ./pug/base

block content

  include ./pug/components/header
  include ./pug/components/about
  include ./pug/components/course
  include ./pug/components/pec
  include ./pug/components/profit
  include ./pug/components/guarant
  include ./pug/components/learn
  include ./pug/components/contacts
  include ./pug/components/footer

  include ./pug/components/js